In [ ]:

from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

In [ ]:
dbutils.fs.unmount("/mnt/climate-project")

/mnt/climate-project has been unmounted.

True

In [ ]:

configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "",
"fs.azure.account.oauth2.client.id": "",
"fs.azure.account.oauth2.client.secret": '',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com//oauth2/token"}


dbutils.fs.mount(
source = "abfss://climate-project@sejalstorage01.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/climate-project",
extra_configs = configs)

True

In [ ]:
%fs
ls "/mnt/climate-project"

path,name,size,modificationTime
dbfs:/mnt/climate-project/raw-data/,raw-data/,0,1710342647000
dbfs:/mnt/climate-project/transformed-data/,transformed-data/,0,1710342666000

In [ ]:
spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean, max, min, corr

# Initialize Spark Session
spark = SparkSession.builder.appName("DataProcessing").getOrCreate()

# Read the data from Azure Blob storage
data_df = spark.read.csv("/mnt/climate-project/raw-data/Data.csv", header=True, inferSchema=True)
country_df = spark.read.csv("/mnt/climate-project/raw-data/Country.csv", header=True, inferSchema=True)
year_df = spark.read.csv("/mnt/climate-project/raw-data/Year.csv", header=True, inferSchema=True)

In [ ]:
data_df.select("`CO2 Emissions (kt)`", "Country", "`Country Code`", "`Population-Total`", "Year").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1822414541572145>, line 1
----> 1 data_df.select("`CO2 Emissions (kt)`", "Country", "`Country Code`", "`Population-Total`", "Year").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3168, in DataFrame.select(self, *cols)
   3123 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   3124     """Projects a set of expressions and returns a new :class:`DataFrame`.
   3125
   3126     .. versionadded:: 1.3.0
   (...)
   3166     +-----+---+
   3167     """
-> 3168     jdf = self._jdf.select(self._jcols(*cols))
   3169     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `CO2 Emissions (kt)` cannot be resolved. Did you mean one of the following? [`CO2 Emissions (kt) `, `Country`, `Country Code`, `Population-Total `, `Year`].;
'Project ['CO2 Emissions (kt), Country#239, Country Code#240, 'Population-Total, Year#238]
+- Relation [Year#238,Country#239,Country Code#240,CO2 Emissions (kt) #241,CO2 Emissions From Gaseous Fuel Consumption (kt) #242,CO2 Emissions From Liquid Fuel Consumption (kt) #243,CO2 Emissions From Solid Fuel Consumption (kt) #244,GDP per Capita (current US$) #245,Life Expectancy At Birth-Female (years) #246,Life Expectancy At Birth-Male (years) #247,Life Expectancy At Birth-Total (years) #248,Methane Emissions (kt of CO2 equivalent) #249,Nitrous Oxide Emissions (thousand metric tons of CO2 equivalent) #250,Population-Female (% of total population) #251,Population-Male (% of total population) #252,Population-Total #253,Total Greenhouse Gas Emissions (kt of CO2 equivalent) #254] csv

In [ ]:
# Displaying the first few rows of the dataset
data_df.show()

# Checking for null values
data_df.select([count(when(col(c).isNull(), c)).alias(c) for c in data_df.columns]).show()

# Dropping rows with null values (if necessary)
data_df = data_df.na.drop()

# Converting data types if required
from pyspark.sql.types import IntegerType
data_df = data_df.withColumn("Year", data_df["Year"].cast(IntegerType()))

+----+------------------+------------+-------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------+-----------------------------+----------------------------------------+--------------------------------------+---------------------------------------+-----------------------------------------+-----------------------------------------------------------------+------------------------------------------+----------------------------------------+-----------------+------------------------------------------------------+
|Year|           Country|Country Code|CO2 Emissions (kt) |CO2 Emissions From Gaseous Fuel Consumption (kt) |CO2 Emissions From Liquid Fuel Consumption (kt) |CO2 Emissions From Solid Fuel Consumption (kt) |GDP per Capita (current US$) |Life Expectancy At Birth-Female (years) |Life Expectancy At Birth-Male (years) |Life Expectancy At Birth-Total (years) |Methane Emissions (kt of CO2 equivalent) |Nitrous Oxide Emissions (thousand metric tons of CO2 equivalent) |Population-Female (% of total population) |Population-Male (% of total population) |Population-Total |Total Greenhouse Gas Emissions (kt of CO2 equivalent) |
+----+------------------+------------+-------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------+-----------------------------+----------------------------------------+--------------------------------------+---------------------------------------+-----------------------------------------+-----------------------------------------------------------------+------------------------------------------+----------------------------------------+-----------------+------------------------------------------------------+
|2007|         ARGENTINA|         ARG|           162810.0|                                         87248.93|                                        78015.43|                                        3663.33|                      7245.45|                                   78.16|                                 71.35|                                  74.79|                                 130810.0|                                                          47170.0|                                     51.38|                                   48.62|      3.9684303E7|                                             349820.01|
|2007|         AUSTRALIA|         AUS|           385750.0|                                         60696.18|                                        99038.34|                                      207390.85|                     41001.14|                                    83.7|                                  79.0|                                  81.29|                                 136690.0|                                                          76870.0|                                     50.04|                                   49.96|        2.08276E7|                                             606469.97|
|2007|            BRAZIL|         BRA|           352560.0|                                         40579.02|                                       240217.84|                                       55346.03|                      7348.19|                                  76.457|                                 68.91|                                  72.62|                                397070.01|                                                         158620.0|                                     50.61|                                   49.39|     1.90130445E8|                                             914650.02|
|2007|            CANADA|         CAN|           571630.0|                                        181153.47|                                       265058.09|                                      114505.74|                      44659.9|                                    82.9|                                  78.3|                                  80.54|                                  91980.0|                                                          39900.0|                                      50.4|                                    49.6|      3.2889025E7|                                             712789.98|
|2007|             CHINA|         CHN|         6993180.18|                                        135433.31|                                       904450.88|                                     4978938.92|                      2693.97|                                  75.508|                                 71.79|                                  73.55|                                974729.98|                                                         449070.0|                                     48.62|                                   51.38|       1.317885E9|                                             8555799.8|
|2007|           GERMANY|         DEU|          783799.99|                                        175198.26|                                       254926.17|                                      334448.74|                     41640.08|                                    82.3|                                  76.9|                                  79.53|                                  61370.0|                                                          46710.0|                                     51.08|                                   48.92|      8.2266372E7|                                             903289.98|
|2007|             INDIA|         IND|         1336739.99|                                         52738.79|                                       335739.52|                                      931927.71|                      1028.33|                                  66.253|                                  64.5|                                  65.35|                                613549.99|                                                         220830.0|                                     47.97|                                   52.03|    1.183209471E9|                                            2180790.04|
|2007|         INDONESIA|         IDN|          379959.99|                                         57124.53|                                       166360.79|                                      128781.37|                       1860.0|                                  70.025|                                 66.23|                                  68.11|                                281540.01|                                                          74980.0|                                     49.72|                                   50.28|     2.32374239E8|                                             738270.02|
|2007|             JAPAN|         JPN|         1225069.95|                                        190086.28|                                       583878.08|                                      443835.35|                     35779.02|                                   85.99|                                 79.19|                                  82.51|                                  31890.0|                                                          20860.0|                                     51.04|                                   48.96|        1.28001E8|                                            1302140.01|
|2007|           MOROCCO|         MAR|            46350.0|                                          1243.11|                                        27550.17|                                       15089.71|                      2499.26|                                  74.309|                                 71.64|                                  73.01|                                  10300.0|                                                           7930.0|                                     50.67|                                   49.33|       3.116367E7|                                               64840.0|
|2007|RUSSIAN FEDERATION|         RUS|         1658150.02|                                        838408.21|                                       339417.52|                                      428719.97|                      9101.25|                                   74.02|                                 61.46|                                  67.59|                                 593120.0|                                                          51980.0|                                     53.55|                                   46.45|     1.42805114E8|                                            2325780.03|
|2007|           SENEGAL|         SEN|             6200.0|                                             22.0|                                          2878.6|                                         707.73|                      1197.41|                                  63.554|                                 60.61|                                  62.13|                                   8610.0|                                                           4350.0|                                     51.23|                                   48.77|      1.1687078E7|                                               19590.0|
|2007|           UKRAINE|         UKR|          312140.01|                                        125580.08|                                        41411.43|                                      146786.34|                      3197.93|                                   74.22|                                 62.51|                                  68.22|                                  41510.0|                                                          19440.0|                                     53.72|                                   46.28|      4.6509355E7|                                             373760.01|
|2007|    UNITED KINGDOM|         GBR|           530500.0|                                        187724.73|                                       184519.77|                                      146947.69|                     50653.26|                                    81.6|                                  77.4|                                  79.45|                                  77780.0|                                                          30950.0|                                     50.97|                                   49.03|      6.1322463E7|                                             655179.99|
|2007|     UNITED STATES|         USA|         5736319.82|                                       1244700.81|                                      2377235.43|                                     2111062.56|                     48050.22|                                    80.6|                                  75.5|                                  77.99|                                612919.98|                                                         269780.0|                                     50.64|                                   49.36|     3.01231207E8|                                            6767470.21|
|2008|         ARGENTINA|         ARG|           167230.0|                                         90193.53|                                         88730.4|                                        3879.69|                      9020.87|                                  78.323|                                 71.51|                                  74.95|                                 130190.0|                                                          45840.0|                                     51.37|                                   48.63|      4.0080159E7|                                             354269.99|
|2008|         AUSTRALIA|         AUS|           388940.0|                                         65488.95|                                        107076.4|                                      208267.27|                     49654.91|                                    83.7|                                  79.2|                                   81.4|                                 120490.0|                                                          61400.0|                                     50.01|                                   49.99|        2.12492E7|                                             578950.01|
|2008|            BRAZIL|         BRA|           373630.0|                                         48569.42|                                        253001.0|                                       56006.09|                      8831.18|                                  76.779|                                 69.27|                                  72.97|                                396510.01|                                                         152420.0|                                     50.63|                                   49.37|     1.92030362E8|                                             929710.02|
|2008|            CANADA|         CAN|          550469.97|                                        180970.12|                                       258057.79|                                      112437.55|                     46710.51|                                    83.0|                                  78.5|                                   80.7|                                  88220.0|                                                          40190.0|                                     50.39|                                   49.61|      3.3247118E7|                                              688190.0|
|2008|             CHINA|         CHN|          7199600.1|                                        149796.95|                                       970911.59|                                     5734164.91|                       3468.3|                                  75.855|                                 72.02|                                  73.84|                                993609.99|                                                         464320.0|                                     48.62|                                   51.38|       1.324655E9|                                            8810969.73|
+----+------------------+------------+-------------------+-------------------------------------------------+------------------------------------------------+-----------------------------------------------+-----------------------------+----------------------------------------+--------------------------------------+---------------------------------------+-----------------------------------------+-----------------------------------------------------------------+------------------------------------------+----------------------------------------+-----------------+------------------------------------------------------+
only showing top 20 rows

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1822414541572146>, line 5
      2 data_df.show()
      4 # Checking for null values
----> 5 data_df.select([count(when(col(c).isNull(), c)).alias(c) for c in data_df.columns]).show()
      7 # Dropping rows with null values (if necessary)
      8 data_df = data_df.na.drop()

File <command-1822414541572146>, line 5, in <listcomp>(.0)
      2 data_df.show()
      4 # Checking for null values
----> 5 data_df.select([count(when(col(c).isNull(), c)).alias(c) for c in data_df.columns]).show()
      7 # Dropping rows with null values (if necessary)
      8 data_df = data_df.na.drop()

NameError: name 'count' is not defined

In [ ]:
from pyspark.sql.functions import sum, avg, col

# Example: Total CO2 Emissions per year
total_CO2_per_year = data_df.groupBy("Year").agg(sum("CO2 Emissions (kt)").alias("Total CO2 Emissions"))

# Example: Average GDP per Capita per Country
avg_gdp_per_country = data_df.groupBy("Country").agg(avg("GDP per Capita (current US$)").alias("Average GDP per Capita"))

# Display the results
total_CO2_per_year.show()
avg_gdp_per_country.show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1822414541572147>, line 4
      1 from pyspark.sql.functions import sum, avg, col
      3 # Example: Total CO2 Emissions per year
----> 4 total_CO2_per_year = data_df.groupBy("Year").agg(sum("CO2 Emissions (kt)").alias("Total CO2 Emissions"))
      6 # Example: Average GDP per Capita per Country
      7 avg_gdp_per_country = data_df.groupBy("Country").agg(avg("GDP per Capita (current US$)").alias("Average GDP per Capita"))

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/group.py:188, in GroupedData.agg(self, *exprs)
    186     assert all(isinstance(c, Column) for c in exprs), "all exprs should be Column"
    187     exprs = cast(Tuple[Column, ...], exprs)
--> 188     jdf = self._jgd.agg(exprs[0]._jc, _to_seq(self.session._sc, [c._jc for c in exprs[1:]]))
    189 return DataFrame(jdf, self.session)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:194, in capture_sql_exception.<locals>.deco(*a, **kw)
    190 converted = convert_exception(e.java_exception)
    191 if not isinstance(converted, UnknownException):
    192     # Hide where the exception came from that shows a non-Pythonic
    193     # JVM exception message.
--> 194     raise converted from None
    195 else:
    196     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `CO2 Emissions (kt)` cannot be resolved. Did you mean one of the following? [`CO2 Emissions (kt) `, `Country`, `Country Code`, `Population-Total `, `Year`].;
'Aggregate [Year#238], [Year#238, sum('CO2 Emissions (kt)) AS Total CO2 Emissions#501]
+- Relation [Year#238,Country#239,Country Code#240,CO2 Emissions (kt) #241,CO2 Emissions From Gaseous Fuel Consumption (kt) #242,CO2 Emissions From Liquid Fuel Consumption (kt) #243,CO2 Emissions From Solid Fuel Consumption (kt) #244,GDP per Capita (current US$) #245,Life Expectancy At Birth-Female (years) #246,Life Expectancy At Birth-Male (years) #247,Life Expectancy At Birth-Total (years) #248,Methane Emissions (kt of CO2 equivalent) #249,Nitrous Oxide Emissions (thousand metric tons of CO2 equivalent) #250,Population-Female (% of total population) #251,Population-Male (% of total population) #252,Population-Total #253,Total Greenhouse Gas Emissions (kt of CO2 equivalent) #254] csv

In [ ]:
Data.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- CO2 Emissions (kt) : double (nullable = true)
 |-- CO2 Emissions From Gaseous Fuel Consumption (kt) : double (nullable = true)
 |-- CO2 Emissions From Liquid Fuel Consumption (kt) : double (nullable = true)
 |-- CO2 Emissions From Solid Fuel Consumption (kt) : double (nullable = true)
 |-- GDP per Capita (current US$) : double (nullable = true)
 |-- Life Expectancy At Birth-Female (years) : double (nullable = true)
 |-- Life Expectancy At Birth-Male (years) : double (nullable = true)
 |-- Life Expectancy At Birth-Total (years) : double (nullable = true)
 |-- Methane Emissions (kt of CO2 equivalent) : double (nullable = true)
 |-- Nitrous Oxide Emissions (thousand metric tons of CO2 equivalent) : double (nullable = true)
 |-- Population-Female (% of total population) : double (nullable = true)
 |-- Population-Male (% of total population) : double (nullable = true)
 |-- Population-Total : double (nullable = true)
 |-- Total Greenhouse Gas Emissions (kt of CO2 equivalent) : double (nullable = true)

In [ ]:
Year.printSchema()

root
 |-- Year: integer (nullable = true)

In [ ]:
Country.printSchema()

root
 |-- Country: string (nullable = true)

In [ ]:
# Write the transformed data

Data.coalesce(1).write.option("header", "true").format("com.databricks.spark.csv").save("/mnt/climate-project/transformed/Data.csv")
Country.coalesce(1).write.option("header", "true").format("com.databricks.spark.csv").save("/mnt/climate-project/transformed/Country.csv")

Year.coalesce(1).write.option("header", "true").format("com.databricks.spark.csv").save("/mnt/climate-project/transformed/Year.csv")

# Cleaning up
dbutils.fs.rm("/data", True)

False